In [2]:
import requests

url = "https://real-time-finance-data.p.rapidapi.com/company-cash-flow"

querystring = {"symbol":"AAPL:NASDAQ","period":"QUARTERLY","language":"en"}

headers = {
	"x-rapidapi-key": "84fe14bf83msh0bf8f81ffe0b0d3p1a8fcejsna6d8fb35c16b",
	"x-rapidapi-host": "real-time-finance-data.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

df=print(response.json())
df

{'status': 'OK', 'request_id': '89af2edf-8f34-4b05-b037-d9230089384f', 'data': {'symbol': 'AAPL:NASDAQ', 'type': 'stock', 'cash_flow': [{'date': '2024-9-28', 'year': 2024, 'month': 9, 'day': 28, 'currency': 'USD', 'net_income': 14736000000, 'cash_from_operations': 26811000000, 'cash_from_investing': 1445000000, 'cash_from_financing': -24948000000, 'net_change_in_cash': 3308000000, 'free_cash_flow': 34538375000}, {'date': '2024-6-29', 'year': 2024, 'month': 6, 'day': 29, 'currency': 'USD', 'net_income': 21448000000, 'cash_from_operations': 28858000000, 'cash_from_investing': -127000000, 'cash_from_financing': -36017000000, 'net_change_in_cash': -7286000000, 'free_cash_flow': 22498000000}, {'date': '2024-3-30', 'year': 2024, 'month': 3, 'day': 30, 'currency': 'USD', 'net_income': 23636000000, 'cash_from_operations': 22690000000, 'cash_from_investing': -310000000, 'cash_from_financing': -30433000000, 'net_change_in_cash': -8053000000, 'free_cash_flow': 20609500000}, {'date': '2024-12-30', 'year': 2024, 'month': 12, 'day': 30, 'currency': 'USD', 'net_income': 33916000000, 'cash_from_operations': 39895000000, 'cash_from_investing': 1927000000, 'cash_from_financing': -30585000000, 'net_change_in_cash': 11237000000, 'free_cash_flow': 33200125000}, {'date': '2023-9-30', 'year': 2023, 'month': 9, 'day': 30, 'currency': 'USD', 'net_income': 22956000000, 'cash_from_operations': 21598000000, 'cash_from_investing': 2394000000, 'cash_from_financing': -23153000000, 'net_change_in_cash': 839000000, 'free_cash_flow': 12308625000}, {'date': '2023-7-1', 'year': 2023, 'month': 7, 'day': 1, 'currency': 'USD', 'net_income': 19881000000, 'cash_from_operations': 26380000000, 'cash_from_investing': 437000000, 'cash_from_financing': -24048000000, 'net_change_in_cash': 2769000000, 'free_cash_flow': 21066750000}, {'date': '2023-4-1', 'year': 2023, 'month': 4, 'day': 1, 'currency': 'USD', 'net_income': 24160000000, 'cash_from_operations': 28560000000, 'cash_from_investing': 2319000000, 'cash_from_financing': -25724000000, 'net_change_in_cash': 5155000000, 'free_cash_flow': 22445750000}, {'date': '2023-12-31', 'year': 2023, 'month': 12, 'day': 31, 'currency': 'USD', 'net_income': 29998000000, 'cash_from_operations': 34005000000, 'cash_from_investing': -1445000000, 'cash_from_financing': -35563000000, 'net_change_in_cash': -3003000000, 'free_cash_flow': 28817000000}, {'date': '2022-9-24', 'year': 2022, 'month': 9, 'day': 24, 'currency': 'USD', 'net_income': 20721000000, 'cash_from_operations': 24127000000, 'cash_from_investing': -1217000000, 'cash_from_financing': -26794000000, 'net_change_in_cash': -3884000000, 'free_cash_flow': 20182875000}], 'period': 'QUARTERLY'}}

In [5]:
import pandas as pd

In [14]:
data=pd.DataFrame(response.json())
data

,status,request_id,data
symbol,OK,89af2edf-8f34-4b05-b037-d9230089384f,AAPL:NASDAQ
type,OK,89af2edf-8f34-4b05-b037-d9230089384f,stock
cash_flow,OK,89af2edf-8f34-4b05-b037-d9230089384f,"[{'date': '2024-9-28', 'year': 2024, 'month': ..."
period,OK,89af2edf-8f34-4b05-b037-d9230089384f,QUARTERLY

In [28]:
data_1=pd.DataFrame(response.json()['data'])
data_1

,symbol,type,cash_flow,period
0,AAPL:NASDAQ,stock,"{'date': '2024-9-28', 'year': 2024, 'month': 9...",QUARTERLY
1,AAPL:NASDAQ,stock,"{'date': '2024-6-29', 'year': 2024, 'month': 6...",QUARTERLY
2,AAPL:NASDAQ,stock,"{'date': '2024-3-30', 'year': 2024, 'month': 3...",QUARTERLY
3,AAPL:NASDAQ,stock,"{'date': '2024-12-30', 'year': 2024, 'month': ...",QUARTERLY
4,AAPL:NASDAQ,stock,"{'date': '2023-9-30', 'year': 2023, 'month': 9...",QUARTERLY
5,AAPL:NASDAQ,stock,"{'date': '2023-7-1', 'year': 2023, 'month': 7,...",QUARTERLY
6,AAPL:NASDAQ,stock,"{'date': '2023-4-1', 'year': 2023, 'month': 4,...",QUARTERLY
7,AAPL:NASDAQ,stock,"{'date': '2023-12-31', 'year': 2023, 'month': ...",QUARTERLY
8,AAPL:NASDAQ,stock,"{'date': '2022-9-24', 'year': 2022, 'month': 9...",QUARTERLY

In [30]:
data_3=pd.DataFrame(response.json()['data']['cash_flow'])
data_3

,date,year,month,day,currency,net_income,cash_from_operations,cash_from_investing,cash_from_financing,net_change_in_cash,free_cash_flow
0,2024-9-28,2024,9,28,USD,14736000000,26811000000,1445000000,-24948000000,3308000000,34538375000
1,2024-6-29,2024,6,29,USD,21448000000,28858000000,-127000000,-36017000000,-7286000000,22498000000
2,2024-3-30,2024,3,30,USD,23636000000,22690000000,-310000000,-30433000000,-8053000000,20609500000
3,2024-12-30,2024,12,30,USD,33916000000,39895000000,1927000000,-30585000000,11237000000,33200125000
4,2023-9-30,2023,9,30,USD,22956000000,21598000000,2394000000,-23153000000,839000000,12308625000
5,2023-7-1,2023,7,1,USD,19881000000,26380000000,437000000,-24048000000,2769000000,21066750000
6,2023-4-1,2023,4,1,USD,24160000000,28560000000,2319000000,-25724000000,5155000000,22445750000
7,2023-12-31,2023,12,31,USD,29998000000,34005000000,-1445000000,-35563000000,-3003000000,28817000000
8,2022-9-24,2022,9,24,USD,20721000000,24127000000,-1217000000,-26794000000,-3884000000,20182875000

In [27]:
from ydata_profiling import ProfileReport
prof = ProfileReport(data)
prof.to_file(output_file='Output_2.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [33]:
from ydata_profiling import ProfileReport
prof = ProfileReport(data_1)
prof.to_file(output_file='Output_data_1.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [32]:
from ydata_profiling import ProfileReport
prof = ProfileReport(data_3)
prof.to_file(output_file='Output_data3.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]